@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #fff;
    color: #212529;
}

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;